*{
    /* background-color: rgb(169, 211, 211); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Sofia", sans-serif;
    background-size: 400px 300px;
    border-radius: 3px;
}
.text{
    font-size: 20px;
}

/* Header */
.header{
    position: relative;
    background-color: cornsilk;
    width: 100%;
    height: px;
    border-style: none none dotted none;
    border-width: 1px;
}


.portfolio{
    width: 75%;
    font-family: "Sofia", sans-serif;
    font-size: 8rem;
    margin: auto;
    text-align: center;
    animation: color-change 3s infinite;
    animation-direction: alternate-reverse
}
@keyframes color-change {
    0% { color: black; }
    30% { color: rgb(31, 31, 31); }
    50% { color: rgb(46, 46, 46);}
    70%{ color: rgb(87, 86, 86);}
    100% { color: rgb(146, 143, 143); }
  }


/* Container */


.container{
    
    background-image: url(https://st4.depositphotos.com/1591259/23809/i/600/depositphotos_238097010-stock-photo-mix-repeat-seamless-pattern-imprints.jpg);
}
.content {
    position: relative;
    margin: auto;
    display: flex;
    align-content: center;
    min-height: 100vh;
    width: 80%;
    background: cornsilk;
    border-style: none dotted solid dotted;
    border-width: 1px;
}

.box1{
    /* margin: auto; */
    display: flex;
    align-content: center;
    min-height: 100vh;
    width: 40%;
    background: cornsilk;
    border-style: none solid none none;
    border-width: 1px;
}
/* .line{
    display: flex;
    align-content: center;
    min-height: 100vh;
    width: 1px;
    background: black;
} */
.box2{
    /* position: absolute; */
    display: flex;
    align-content: center;
    width: 608px;
    min-height: 100vh;
    background: cornsilk;
    border-style: none none none solid;
    border-width: 1px;
}


/* Footer */

.footer{
    width: 100%;
    height: 100px;
    background-color: burlywood;
    color: black;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    font-size: 50px;
}

  